body {
    margin: 0;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
}
h1, h2 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
}
p, a, li {
    font-weight: 400;
}

.hobbies {
  padding: 40px;
}

.hobby {
  display: flex;
  align-items: center;

  margin: 30px auto;
  padding: 20px;

  border: 2px solid #ccc;
  border-radius: 8px;

  max-width: 1000px;
  gap: 30px;
}

.hobby img {
  width: 33%;
  border-radius: 6px;
}

.hobby-text {
  width: 67%;
}

.hobby-text h2 {
  margin-bottom: 10px;
}
.hobby:nth-child(even) {
  flex-direction: row-reverse;
}
.hobby img {
  width: 35%;
  height: auto;
  object-fit: cover;
}

/* Phone items */
@media (max-width: 768px) {

  .hobby {
    flex-direction: column;
    text-align: center;
  }

  .hobby img {
    width: 100%;
    max-width: 400px;
  }

  .hobby-text {
    width: 100%;
  }

}