html {
    background-color: #f8f9fa;
}

/* The intro to the portfolio */
.hero {
    height: 100vh;
    width: 100%;

    background-image: url("img/Photography\ Portfolio\ Background.png");
    background-size: cover;
    background-position: center; 

    display: flex;
    align-items: center;
    justify-content: center;
}


/* Body items / Photos */
/* Text styling */
.hero-text h1 {
    font-size: 5.5rem;
    margin: 0;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


/* About Me section */
.about-photography {
    display: flex;
    background-color: #333333;
    padding: 6ch;
    height: 350px;
    color: #F5F5F5;
}
.about-text-photography {
    padding: 6ch;
    font-size: 18px;
    text-align: left;
}
.photography-photo {
    height: auto;
    width: 225px;
}

.photo-section {
  padding: 50px 10%;
}

/* Each photo row */
.photo-item {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}

/* Image styling */
.photo-item img {
  width: 300px;
  height: auto;
  border-radius: 6px;
  border: 1px solid black
}

/* Text section */
.photo-text h2 {
  margin-bottom: 10px;
}

.photo-text p {
  line-height: 1.6;
}
@media (max-width: 768px) {
  .photo-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .photo-item img {
    width: 100%;
    max-width: 400px;
  }
}