html {
    background-color: #f8f9fa;
}
/* Items for vavigation bar */
header {
    background-color: #f8f9fa;
    color: black;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0rem 3rem;
}
header .title {
    font-size: 125%;
    font-weight: bold;
    padding: 0;
}
header ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
header li {
    margin: .5em 1em;
}
header a {
    text-decoration: none;
    color: gray;
}
header a:hover {
    color: darkgray;
}
.insta img {
    width: 40px;
    height: 40px;
}
.insta {
    padding: 1rem;
    display: flex;
    align-items: center;
}

/* The intro to my portfolio */
.hero {
    height: 100vh;
    width: 100%;

    background-image: url("img/campus.png");
    background-size: cover;
    background-position: center; 

    display: flex;
    align-items: center;
    justify-content: right;
}

/* Text styling */
.hero-text {
    position: relative;
    text-align: left;
    margin-bottom: 2em;
}
.hero-text h1 {
    font-size: 4rem;
    margin: 0;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-right: 3em;

}
.hero-text p {
    font-size: 1.5rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Body sh*t and the grid */
body {
    margin: 0;
}

/* Address / Footer items */
footer {
    padding: 5px;
    background-color: lightgray;
    text-align: center;
}
address {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}